{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="./css/login_style.css">
{% endblock %}


{% block content %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{type}}">{{message}}</div>
        {% endfor %}
    {% endfor %}

        <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-2">
                    <h3>Login</h3>

                    {% if errors %}
                    <div class="alert alert-danger" role="alert">{{ errors.messageKey }}</div>
                    {% endif %}

                    <form action="{{ path('login') }}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="User Name" name="_username" value="{{ username }}" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="_password" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="{{ path('register') }}" class="ForgetPwd" value="Login">Register user</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
