{% extends 'base.html.twig' %}

{% block title %}
    <title>Task Manager</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="./css/task_list_style.css">
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <i class="fa fa-tasks">Task List</i>
        </div>
        <div class="card-body">
            <div class="list-group">
                <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{path('update_task', {'id' : task.id})}}"{% if task.status %} class="list-group-item list-group-item-action active" {% endif %} class="list-group-item list-group-item-action">{{ task.title }}</a>
                        <a href="{{path('edit_task', {'id' : task.id})}}" data-toggle="tooltip" title="Edit"><span class="icon edit"><i class="fas fa-edit"></i></span></a>
                        <a onclick="return confirm('Are you sure to delete?')" href="{{path('delete_task', {'id' : task.id})}}" data-toggle="tooltip" title="Delete"><span class="icon delete"><i class="fas fa-trash-alt"></i></span></a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="d-block text-right card-footer">
                <div class="form-inline">
                    <form method="POST" action="{{ path('create_task') }}">
                        <div class="input-group mb-3">
                            <input name="taskTitle" type="text" class="form-control w-75 p-3" aria-label="Sizing example input" aria-describedby="button-addon2" placeholder="Task Title...">
                            <button type="submit" class="btn btn-primary">Add Task</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}