{% extends 'base.html.twig' %}

{% block title %}
    <title>Task Manager</title>
{% endblock %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/18fc697799.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/styles.css">
{% endblock %}

{% block content %}
    <div class="header">
        <h2>TASKI USERA: <a href="{{ path('edit_user', {'id' : user.id}) }}">{{ user.username }}</a><a href="{{ path('logout') }}">(WYLOGUJ)</a></h2>
        <form method="POST" action="{{ path('create_task') }}">
            <input name="taskTitle" type="text" id="myInput" placeholder="Task title..." />
            <button type="submit" class="addBtn">Add a task</button>
        </form>
    </div>

    <ul>
        {% for task in tasks %}
            <li {% if task.status %} class="checked" {% endif %}>
                <a href="{{path('update_task', {'id' : task.id})}}"><span class="task-list-item">{{ task.id }} : {{ task.title }} --> {{ task.addDate.format('Y-m-d H:i:s') }}</span></a>
                <a href="{{path('edit_task', {'id' : task.id})}}"><span class="edit"><i class="fas fa-edit"></i></span></a>
                <a onclick="return confirm('Are you sure to delete?')" href="{{path('delete_task', {'id' : task.id})}}"><span class="close"><i class="fas fa-trash-alt"></i></span></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}